/* Navbar.css */

.navbar {
    background-color: #1e293b; /* Fondo oscuro */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Espaciado entre elementos */
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-list {
    display: flex;
    list-style: none; /* Sin puntos */
    gap: 20px; /* Espaciado uniforme */
    margin: 0;
    padding: 0;
    flex-grow: 1; /* Ocupa todo el espacio disponible */
}

.navbar-item {
    flex-grow: 1; /* Distribuye uniformemente los elementos */
    text-align: center; /* Centra el texto dentro de cada elemento */
}

.navbar-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: #4ade80;
}

.navbar-button-container {
    margin-left: auto; /* Mueve el botón al extremo derecho */
}

.navbar-button {
    background-color: #ef4444;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.navbar-button:hover {
    background-color: #dc2626;
}
